body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../assets/img/Fondo.webp');
    background-size: cover;
    background-position: center; 
}

main {
    flex: 1 0 auto;
}

